
body {
  background-image: url('../../../assets/cajavacia.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Container principal */
.login-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to right, rgba(248, 183, 183, 0.9), rgba(243, 181, 155, 0.9));
  
  /* Agregar sombra al contenedor principal */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra de fondo */
  border-radius: 15px; /* Opcional: para redondear las esquinas */
}

/* Formulario de login */
.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-right: 50px;
  border-radius: 15px;
}

.login-form h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #c94e3b;
  margin-bottom: 20px;
}

/* Responsive: Móvil */
@media (max-width: 480px) {
  .login-form {
    padding: 30px;
    margin-right: 0;
  }
}
