.productsContainer {
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url('../../../assets/galponcitolocal.jpg'); /* Ruta a la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
}

.productsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); 
}

.searchContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.397); /* Fondo blanco semitransparente */
}

.table th {
  background-color: rgba(244, 244, 244, 0.7); /* Fondo de encabezado más claro */
  color: #555;
}

/* Contenedor de los botones */
.table .buttonContainer {
  display: flex;
  justify-content: space-between; /* Esto separa los botones */
  gap: 10px; /* Añade un espacio entre los botones */
}

.table .editButton,
.table .deleteButton {
  padding: 8px 12px; /* Ajustamos el tamaño del padding */
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Ajustamos el tamaño de la fuente */
  font-weight: bold; /* Añadimos negritas */
  color: white; /* Aseguramos que el texto sea blanco */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Efecto de transición */
  text-align: center;
  width: 48%; /* Ajustamos el ancho para que quepan en una línea */
}

.table .editButton {
  background-color: #f0ad4e;
}

.table .deleteButton {
  background-color: #d9534f;
}

.table .editButton:hover,
.table .deleteButton:hover {
  transform: scale(1.05); /* Aumentamos ligeramente el tamaño en hover */
}

.table .editButton:hover {
  background-color: #e99c42;
}

.table .deleteButton:hover {
  background-color: #c9302c;
}

.disableButton {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.disableButton.disabled {
  background-color: gray;
  color: #fff;
  cursor: not-allowed;
}

.disableButton:not(.disabled) {
  background-color: #4CAF50; /* Verde cuando está habilitado */
}

.disableButton:hover {
  transform: scale(1.05);
}


/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .productsContainer {
    margin: 10px;
    padding: 15px;
  }

  .productsTitle {
    font-size: 22px; /* Ajustamos el tamaño de la fuente */
  }

  .table th, .table td {
    font-size: 14px;
    padding: 8px;
  }

  .table .editButton, 
  .table .deleteButton {
    width: 100%; /* En pantallas pequeñas, ocupan todo el ancho */
    padding: 10px 15px;
    font-size: 18px; 
    margin: 0 5px;
  }

  .table .buttonContainer {
    flex-direction: column; /* Botones en columnas en pantallas pequeñas */
    gap: 10px; /* Espaciado entre botones */
  }
}

@media screen and (max-width: 480px) {
  .productsContainer {
    margin: 5px;
    padding: 10px;
  }

  .productsTitle {
    font-size: 20px;
  }

  .table th, .table td {
    font-size: 12px;
    padding: 6px;
  }

  .table .editButton, 
  .table .deleteButton {
    width: 100%;
    padding: 12px 18px; /* Aumentamos el padding */
    font-size: 20px; /* Aumentamos el tamaño de la fuente */
  }

  .table .buttonContainer {
    display: flex;
    justify-content: space-between;
    padding: 5px; 
  }
}
