.nav-tabs {
  background-color: #030303;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 80%; /* Limita el ancho máximo del navbar */
  margin: 0 auto; /* Centra el navbar */
}

.nav-tabs .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.nav-tabs .nav-link.active {
  background-color: #e05329;
  color: #fff;
  border-radius: 10px;
}

.nav-tabs .nav-link:hover {
  background-color: #e05c34;
  color: #ffffff;
  transform: scale(1.05);
}

.nav-item {
  flex-grow: 1;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffe8d6;
  color: #333;
}

@media (max-width: 768px) {
  .nav-tabs {
      display: none; /* Escondemos el navbar en pantallas pequeñas */
  }

  .hamburger-menu {
      display: flex; /* Mostramos el menú hamburguesa */
      justify-content: center;
      margin: 10px 0;
  }
}
