/* Menú hamburguesa (ícono) */
.hamburger-menu {
  display: none; /* Por defecto no se muestra en pantallas grandes */
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

/* Estilo general del menú */
.nav-tabs {
  background-color: #030303;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex; /* Visible por defecto en pantallas grandes */
  flex-direction: row;
}

.nav-tabs .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 20px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

.nav-tabs .nav-link.active {
  background-color: #e05329;
  color: #fff;
  border-radius: 10px;
}

.nav-tabs .nav-link:hover {
  background-color: #e05c34;
  color: #ffffff;
  transform: scale(1.05);
}

/* Elementos del menú */
.nav-item {
  flex-grow: 1;
  text-align: center;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .hamburger-menu {
    display: block; /* Mostrar ícono de menú en pantallas pequeñas */
  }

  .nav-tabs {
    display: none; /* Ocultar menú completo por defecto */
    flex-direction: column; /* Cambiar a diseño vertical */
    background-color: #030303;
    position: absolute;
    top: 50px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    z-index: 999; /* Asegurar que esté sobre otros elementos */
  }

  .nav-tabs.show {
    display: flex; /* Mostrar menú cuando se activa */
  }
}
